.result-li:hover{
    background:#f5f7fa;
    color:black;
    cursor: pointer;
    font-weight:bold;
}

.result-li{
    border-radius:0;
    border:1px solid lightgray !important;
    border-top:1px solid white !important;
    border-bottom:1px solid white !important;
}
.result-li:last-child{
    border-bottom:1px solid lightgray !important;
    border-radius:0 0 5px 5px;
}

.searchSectionWrapper{
    height:"100vh";
    position:"relative";
}
.searchContainer{
    position: absolute;
    top:20%;
}
.logoWrapper{
    padding:20px;
}
.pageLogo{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom:20px;
}

#result-list{
    z-index: 9999;
    padding-left: 0;
    position: absolute;
    top: 38px;
    left: 0px;
    width: 100%;
    padding: 0;
}

#searchValue:hover{
    background:#eff0f1;
    color:navy;
}
#searchValue{
    border-radius:5px;
}
.searchBar{
    min-width:650px;
    max-width:650px;
}

.snippetBoxWrapper{
    border:1px solid #eff0f1;
    border-radius:10px; 
    height:140px;
    width: 100%;
    margin-bottom:15px;
}

.searchTitle h3{
    padding:10px 0 10px 20px;
}
.searchBody{
    padding:20px;
}
.pageLogo img{
    height:100%;
}
.listWrapper{
    justify-content: center;
    margin:0;
}